<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>
    <link rel="stylesheet"th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <!--    <script th:src="@{/webjars/popper.js/2.5.2/umd/popper.min.js}"></script>-->
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="curso.springframework.recipeapp.commands.RecipeCommand"*/-->
<div class="container" style="margin: 20px 0px 20px 0px">
    <div class="row row-cols-1">
        <div class="col justify-content-md-center">
            <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="my-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="panel-title">Edit Recipe Information</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                <div class="col-md-3">
                                    <label>Difficulty:</label>
                                    <select th:field="*{difficulty}">
                                        <option th:each="difficultyValue :
                                                    ${T(curso.springframework.recipeapp.domain.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name()}">Easy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h3 class="panel-title">Ingredients</h3>
                                </div>
                                <div class="col-md-1">
                                    <a th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">
                                        <button type="button" class="btn btn-secondary">
                                            View
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.unitOfMeasure.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="panel-title">Directions</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="panel-title">Notes</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>